



ul {
    list-style-type: none;
    height: 43px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333;

}

li {
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 13px;
    text-decoration: none;
    font-size: 17px;

}


li a:hover:not(.active) {
    background: #111;
}

.active {
    background-color: grey;
}